pkgbase = synemar
	pkgdesc = Fullscreen music visualizer with waveform + spectrum animation, custom background videos and colors.
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/0xRavenBlack/synemar
	arch = any
	license = MIT
	makedepends = npm
	depends = electron
	depends = ffmpeg
	depends = hicolor-icon-theme
	options = !strip
	source = synemar-0.2.0.tar.gz::https://github.com/0xRavenBlack/synemar/archive/f64cc0ff5d7865135560ad69961da9ebcc99f4f7.tar.gz
	sha256sums = 87ab5fb5c103ed15e964c0ce8d1e71b56d826ee7bf0a9f46633c274e8610913c

pkgname = synemar
